/.vscode
/.idea
/app/tests/_log
/app/config/packages
/bootstrap/compiled.php
/build/logs
/build/coverage
/public/xlanding
/public/xcms
/public/web-asset/php/
/public/favicon.png
/node_modules
/public/hot
/public/packages
/public/storage
/storage/*.key
/src
/src-xcms
/dist
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
composer.phar
composer.lock
package.lock
docker-compose.override.yml
gulpfilecopy.js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
